/* Color palette
Orange = #C63D0F
Light orange = #F08132
Black = #3B3738
White = #F5F5F5
Off-white = #FDF3E7
Grey = #7E8F7C */

/* Algemene styling */
.csscontainer {
  width: 95%;
  max-width: 1000px;
  margin-right: 0;
}

.pagetitle {
  font-family: 'Work Sans', sans-serif;
  color: #303030;
}

header {
  background-color: #F5F5F5;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.jumbotron {
  background-color: #F5F5F5;
}

#mycontainer {
  width: 97.5%;
}

/* Footer styling */
html {
  margin: 0;
  display: table;
  width: 100%;
  height: 100%;
}

body {
  background-color: #E04C24;
  margin: 0;
  display: table;
  width: 100%;
  height: 100%;
}

.connect {
  background-color: #F5F5F5;
  display: table-row;
  height: 1px;
  font-family:  'Work Sans', sans-serif;
  text-transform: uppercase;
}

.wrappertext {
  display: inline-block;
  float: right;
  font-size: 0.75em;
}

.wrapper {
  padding: 10px;
  height: auto;
}

.wrapper a {
  margin-right: 15px;
}

/* Splashpage styling */
.splash {
  height: 100vh;
  background-image: url(splashbg2.png);
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash div {
  background-color: #F5F5F5;
  padding: 1em;
  text-align: center;
  border-radius: 30px;
  border: #3B3738 solid 1px;
}

.splash a {
  text-decoration: none;
  color: #F08132;
  font-family: 'Work Sans', sans-serif;
}

/* Algemene styling voor op elke pagina */
.heading {
  color: #F08132;
  font-size: large;
}

.headingdiv {
  padding: 1em;
}

.mobilefont {
  font-size: small;
}

.orange {
  color: #F08132;
}

/* Styling voor de perspagina */
.perstron,
.investortron {
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #F5F5F5;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #303030;
}

/* Styling voor de over onspagina en productenpagina*/
.overonsjumbo,
.productentron {
  margin: 3px 0px;
  border-radius: 5px;
  background-color: #F5F5F5;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #303030;
}

.overons h1,
.overons h2,
.overons h3,
.producten h1,
.producten h2,
.producten h3,
.pers h1,
.pers h2,
.pers h3,
.investor h1,
.investor h2,
.investor h3 {
  color: #F08132;
}

.pers ul {
  padding-top: 1em;
}

.overons p,
.producten p,
.pers p {
  font-size: 16px;
}

.overons img {
  float: right;
  vertical-align: top;
}

.hoverons h2 {
  color: #F08132;
  text-decoration: none;
}

/* Sidemenu voor de over onspagina */
.side-nav {
  background: #3B3738;
  position: absolute;
  top: -1.1em;
  right: -0.1em;
  height: 0px;
  overflow: hidden;
  z-index: 1;
}

.side-nav--open {
  height: auto;
}

.sidewrapper {
  padding: 1em 0;
  position: relative;
}

.side-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-nav li {
  font-family: 'Work Sans', sans-serif;
  border-bottom: 1px solid #7E8F7C;
}

.side-nav li:last-child {
  border-bottom: none;
}

.side-nav a {
  color: #F5F5F5;
  text-decoration: none;
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
}

.side-nav a:hover,
.side-nav a:focus {
  background: #F08132;
}

.side-menu-toggle {
  padding: 1em;
  position: absolute;
  right: 0em;
  top: 0em;
  cursor: pointer;
  z-index: 1;
}

.side-hamburger,
.side-hamburger::before,
.side-hamburger::after {
  content: '';
  display: block;
  background: #7E8F7C;
  height: 3px;
  width: 1.5em;
  border-radius: 3px;
  transition: all ease-in-out 450ms;
}

.side-hamburger::before {
  transform: translateY(-6px);
}

.side-hamburger::after {
  transform: translateY(3px);
}

.side-burger--open .side-hamburger {
  transform: rotate(45deg);
}

.side-burger--open .side-hamburger::before {
  opacity: 0;
}

.side-burger--open .side-hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Hamburgermenu en sitenav styling en animation, hamburger.js voor de JS */
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #3B3738;
  height: 0px;
  overflow: hidden;
  z-index: 3;
}

.site-nav--open {
  height: auto;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #7E8F7C;
}

.active {
  font-weight: 900;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #F5F5F5;
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.95em;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 3.5em;
  right: 0.5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #404040;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 450ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Jumbotron met bestuursleden*/
.bestuurjumbo {
  margin: 3px 0px;
  border-radius: 5px;
  background-color: #F5F5F5;
  font-family: 'Work Sans', sans-serif;
  border: 1px solid #303030;
}

.bestuurjumbo p {
  font-size: 16px;
  display: inline-block;
}

.bestuurjumbo h2 {
  color: #F08132;
}

.bestuurfoto,
.pandfoto {
  width: 100%;
}
.bestuurnav li a {
  color: #F08132;
}

/* Blockquote styling */
.quote {
  margin-top: 3px;
  border-radius: 5px;
  background-color: #F5F5F5;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

/* Contactpagina content styling */
.contactinfo {
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  background-color: #F5F5F5;
  font-family: 'Work Sans', sans-serif;
  color: #F08132;
  border: 1px solid #303030;
}

.contactinfo p {
  color: #3B3738;
}

.contactinfo i {
  font-size: 10px;
}



@media screen and (min-width: 480px) {
  .bestuurjumbo {
    margin-top: 3px;
    border-radius: 5px;
    background-color: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
  }

  .bestuurjumbo p {
    font-size: 16px;
    display: inline-block;
  }
  .bestuurfoto {
    width: 50%;
  }
}



@media screen and (min-width: 769px) {
  .wrappertext {
    display: inline-block;
    float: right;
    font-size: 1em;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  .csscontainer {
    width: 95%;
    max-width: none;
    margin-right: 0;
  }


  .logo {
    float: left;
    padding: 10px 0;
    display: block;
  }

  /* Navigatie */
  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }

  .site-nav li {
    display: inline-block;
    border: none;
    margin-top: 50px;
  }

  .site-nav a {
    color: #F08132;
    padding: 0;
    margin-left: 1em;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75em;
  }
  .site-nav a:hover {
    color: #3B3738;
    text-decoration: none;
  }

  .site-nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #F08132;

    position: relative;
    top: 22px;
    width: 0%;

    transition: all ease-in-out 200ms;
  }

  .site-nav a:hover::before {
    width: 100%;
  }

  .splash {
    height: 100vh;
    background-image: url(splashbg2.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .splash div {
    background-color: #F5F5F5;
    padding: 1em;
    text-align: center;
    border-radius: 30px;
    border: #3B3738 solid 1px;
  }

  .splash a {
    text-decoration: none;
    color: #F08132;
    font-family: 'Work Sans', sans-serif;
  }

  /* Sidemenu */
  .side-menu-toggle {
    display: none;
  }

  .side-nav {
    height: auto;
    width: 100%;
    position: relative;
    background: transparent;
    float: right;
    top: -1.5em;
    margin-bottom: 1.5em;
  }

  .side-nav li {
    display: inline-block;
    border: none;
    margin-top: 25px;
  }

  .side-nav a {
    color: #F08132;
    padding: 0;
    margin-left: 1em;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.75em;
  }

  .side-nav a:hover,
  .side-nav a:focus {
    color: #3B3738;
    text-decoration: none;
    background: none;
  }
}



@media screen and (min-width: 873px) {
  .side-nav a {
    font-size: 1em;
  }
}



@media screen and (min-width: 900px) {
  .site-nav a {
    font-size: 0.75em;
    margin-left: 1em;
  }
}



@media screen and (min-width: 990px) {
  .site-nav a {
    font-size: 1em;
    margin-left: 1.75em;
  }
  .producten p {
    font-size: 12px;
  }
}



@media screen and (min-width: 1016px) {
  .site-nav a {
    padding: 0;
    margin-left: 2em;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
  }
}



@media screen and (min-width: 1200px) {
  .site-nav a {
    font-size: 1em;
    margin-left: 3.5em;
  }
}
